@tailwind base;
@tailwind components;
@tailwind utilities;


.left-fade {
    animation-duration: 1s;;
    animation-name: slideleft;
}
@keyframes slideleft {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.bottom-fade {
    animation-duration: 1s;;
    animation-name: slidebottom;
}
@keyframes slidebottom {
    from {
        margin-bottom: 100%;
    }
    to {
        margin-bottom: 0%;
    }
}

.fadein{
    animation-duration: 1s;;
    animation-name: fadein;
}

@keyframes fadein{
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.showfade{
    animation-duration: 1s;;
    animation-name: showfade;
}

@keyframes showfade {
    from {
        opacity: 0%;
    }
    to {
       opacity: 100%;
    }
}

.backendbg{
    background-image: url(/src/assets/skills/note.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


/**
  * Cube
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes cube {
    0% {
      -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
    50% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
    100% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
  @keyframes cube {
    0% {
      -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
    50% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
    100% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
  
  .cube {
    -webkit-animation: cube 2s infinite ease;
            animation: cube 2s infinite ease;
    height: 40px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 40px; }
    .cube div {
      background-color: rgba(255, 255, 255, 0.25);
      height: 100%;
      position: absolute;
      width: 100%;
      border: 2px solid white; }
      .cube div:nth-of-type(1) {
        -webkit-transform: translateZ(-20px) rotateY(180deg);
                transform: translateZ(-20px) rotateY(180deg); }
      .cube div:nth-of-type(2) {
        -webkit-transform: rotateY(-270deg) translateX(50%);
                transform: rotateY(-270deg) translateX(50%);
        -webkit-transform-origin: top right;
                transform-origin: top right; }
      .cube div:nth-of-type(3) {
        -webkit-transform: rotateY(270deg) translateX(-50%);
                transform: rotateY(270deg) translateX(-50%);
        -webkit-transform-origin: center left;
                transform-origin: center left; }
      .cube div:nth-of-type(4) {
        -webkit-transform: rotateX(90deg) translateY(-50%);
                transform: rotateX(90deg) translateY(-50%);
        -webkit-transform-origin: top center;
                transform-origin: top center; }
      .cube div:nth-of-type(5) {
        -webkit-transform: rotateX(-90deg) translateY(50%);
                transform: rotateX(-90deg) translateY(50%);
        -webkit-transform-origin: bottom center;
                transform-origin: bottom center; }
      .cube div:nth-of-type(6) {
        -webkit-transform: translateZ(20px);
                transform: translateZ(20px); }


/**
  * Bloom
  *
  * @author jh3y - jheytompkins.com
*/
.bloom {
    height: 15px;
    position: relative;
    width: 15px; }
    .bloom:before, .bloom:after {
      border-radius: 100%;
      content: '';
      display: block;
      height: 15px;
      width: 15px; }
    .bloom:before {
      background-color: #FFFFFF;
      -webkit-animation: scale-up 1s infinite ease;
              animation: scale-up 1s infinite ease; }
    .bloom:after {
      -webkit-animation: scale 1s infinite;
              animation: scale 1s infinite;
      border: 1px solid #FFFFFF;
      left: 0;
      position: absolute;
      top: 0; }
  
  @-webkit-keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @-webkit-keyframes scale {
    0%, 50% {
      opacity: 1; }
    55% {
      opacity: 1; }
    100% {
      opacity: 1;
      -webkit-transform: scale(2);
              transform: scale(2); } }
  
  @keyframes scale {
    0%, 50% {
      opacity: 1; }
    55% {
      opacity: 1; }
    100% {
      opacity: 1;
      -webkit-transform: scale(2);
              transform: scale(2); } }